*.class

# Package Files #
*.war
*.ear
*build/
/DataTagsWebApp/nbproject/private/
/DataTagsLib/dist/
/DataTagsWebApp/dist/
.DS_Store
*.sublime-workspace
DataTagsWebApp/datatags-app/public/last-commit
DataTagsWebApp/scripts/username

