*.class

target/

# Package Files #
*.war
*.ear
*build/
/DataTagsWebApp/nbproject/private/
/DataTagsLib/dist/
/DataTagsWebApp/dist/
.DS_Store
*.sublime-workspace
DataTagsWebApp/datatags-app/public/last-commit
DataTagsWebApp/scripts/username
DataTagsWebApp/scripts/vars.sh
/DataTagsLib/WORK/**/*.pdf
/DataTagsLib/WORK/**/*.gv
/DataTagsWebApp/datatags-app-nb/datatags-app/nbproject/private/
/nbproject/