body {
	font-family: "Lucida Grande", Arial, sans-serif;
	padding-bottom: 100px;
}

#explanation {
	left: 0;
	right: 0;
	bottom: 0;
	height: 100px;
	position: fixed;
	background-color: #DDD;
	box-shadow: 0 -2px 4px rgba(0,0,0,0.75);
	border-top: 1px solid black;
	padding: 4px;
}

#explanation h3 {
	padding: 0;
	margin: 0 0 0.5em 0;
}