@rotate: -1deg;
.note {
    &:before {
      content:url(/assets/images/ThumbTack.png);
      display: block;
      width: 32px;
      height: 15px;
      overflow: visible;
      margin: auto;
      position: relative;
      top: -40px;
    }
    box-shadow: 0 2px 10px rgba(0,0,0,0.75);
    font-family: "Marker felt", cursive;
    padding: 0.5em;
    width: 20em;
    margin: auto;
    text-align: center;
    -ms-transform: rotate(@rotate); /* IE 9 */
    -webkit-transform: rotate(@rotate); /* Chrome, Safari, Opera */
    transform: rotate(@rotate);
}

.note-todo {
    background-color: #FFFFAA;
}

.node {
  width: 100%;
  border-radius: 1em;
  padding: 0.4em 1em;
  margin-bottom: 4px;
  em {
    font-style: normal;
    font-weight: normal;
    border-radius: 3px;
    padding: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5) inset;
    background-color: #EEE;
    vertical-align:  middle; 
  }
  
}
.node-ask {
  background-color: #BF8A98;
}
.node-set {
  background-color: #84D9BA;
}
.node-call {
  background-color: #99BFAD;
}
.node-todo {
  background-color: #F1F2C4;
}
.node-end {
  background-color: #F0F0C0;
}

@bkgColor: rgba(255,255,255,.25);
.tagvalue-container {
  background-color: #AAA;
}
.value {
  padding: 0.25em 0.5em;
  margin: 3px;
  background-color: @bkgColor;

  .typeName {
    font-weight:normal;
    color: #004;
  }
  span.typeName {
    width: 6em;
    display: inline-block;
  }
  
  .valueAtom {
    border-radius: 0.6em;
    padding: 0 1em;
    box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    color: black;
    font-size: 0.9em;
    background-color: #DDD;
  }
}
.value-simple{
  .valueAtom {
    background-color: #8df;
  }
}
.value-todo{
  .valueAtom {
    background-color: #6F6;
  }
}
.value-aggregate{
  .valueAtom {
    background-color: #DBF;
  }
}
.value-compound{
  border: 1px solid #CCC;
}

.tagtype-container {
  background-color: #AAA;
  color: #BBB;
  padding: 0.5em;
  box-shadow: 0 2px 2px rgba(0,0,0,0.5);
}

.tagtype {
  background-color: @bkgColor;
  padding: 0.25em;
  line-height: 1.6em;
  border-bottom: 1px dotted rgba(255,255,255,0.5);
  .typeName {
    color: #000;
  }
  span.typeName {
    width: 5.5em;
    display: inline-block;
  }

  span.typeValues {
    
  }
  small {
    color: white;
  }
  .valueAtom {
    border-radius: 0.5em;
    padding: 3px 0.6em;
    margin-right: 3px;
    font-size: 0.9em;
    color: black;
    box-shadow: 0 2px 2px rgba(0,0,0,0.5);
  }
}

.tagtype-simple {
  .valueAtom {
    background-color: #66ccff;
  }
}
.tagtype-todo {
  .valueAtom {
    background-color: #40F040;
  }
}
.tagtype-aggregate {
  .valueAtom {
    background-color: #ccaaff;
  }
} 

.tagtype-compound {
  .typeValues {
    margin-left: 1em;
  }
  border-bottom: none;
}

footer {
  margin-top: 2em;
  padding: 1em 0;
  background-color: #CCC;
  font-size: 0.8em;
  border-top: 1px solid #888;
  text-align: center;
}

