@rotate: -1deg;
.note {
    box-shadow: 0 2px 10px rgba(0,0,0,0.75);
    font-family: "Marker felt", cursive;
    padding: 0.5em;
    width: 40em;
    margin: auto;
    -ms-transform: rotate(@rotate); /* IE 9 */
    -webkit-transform: rotate(@rotate); /* Chrome, Safari, Opera */
    transform: rotate(@rotate);
}

.note-todo {
    background-color: #FFFFAA;
}