body {
  background-color: #F8F8F8;
}

.help {
  font-size: 0.9em;
  color: #888;
}

.unset {
  color: #EEE;
  background-color: #AAA;
}

dd {
  color: blue;
}

#currentTags {
  padding: 5px;
  background-color: #ffffb5;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);
}

#messageArea {
  position: absolute;
  top: 6em;
  z-index: 1000;
  width: 50%;
  margin: auto;
}

.qPanel {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.backToParentBtn {
  width: 10em;
  height: 2.5em;
  margin: 1em;
}

.centerContainer {
  position: relative;
}

.absoluteCenter {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.bdg0 {
  background-color: #AAF;
}

.bdg1 {
  background-color: #05ad00;
}

.bdg2 {
  background-color: #5d8902;
}

.bdg3 {
  background-color: #a85802;
}

.bdg4 {
  background-color: #F00;
}

footer {
  padding: 0.5em;
  margin: 0;
  margin-top: 2em;
  font-size: 0.9em;
  text-align: center;
  border-top: 1px solid black;
}

footer a {
  display: inline-block;
  width: auto;
  height: 40px;
  padding: 4px 8px;
  margin: 0;
  vertical-align: middle;
  border-left: 1px solid #AAA;
}

footer a:hover {
  background-color: #dcdcff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.75) inset;
}

footer a:active {
  background-color: #c8c8e1;
  box-shadow: 0 0 8px rgba(10, 10, 0, 0.75) inset;
}

.alert h3 {
  margin: 0.5em 0;
}

.harmLevel1 {
  color: white;
  background-color: #3399ff;
}

.harmLevel2 {
  color: black;
  background-color: #00cc00;
}

.harmLevel3 {
  color: black;
  background-color: #ffff00;
}

.harmLevel4 {
  color: black;
  background-color: #ff9900;
}

.harmLevel5 {
  color: black;
  background-color: #ff0000;
}

.harmLevel6 {
  color: yellow;
  background-color: #990000;
}

.harmLevelTag {
  padding: 5px;
  margin: 0.5em 0;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6) inset;
}

table.harmLevelTable thead th {
  color: #DDD;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  background-color: #444;
  border-bottom: 2px solid #000;
}

table.harmLevelTable tbody tr td {
  border-top: none;
}

table.harmLevelTable tbody tr td .badge {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}

table.harmLevelTable tbody tr th {
  border-top: none;
}

.popover-content {
  font-weight: normal;
  color: black;
}

.popover-title {
  font-weight: bold;
  color: #444;
}
