@(node: edu.harvard.iq.datatags.model.charts.nodes.Node)

@import edu.harvard.iq.datatags.model.charts.nodes._

@askNode( n:AskNode ) = {
  <td class="node node-ask">ask</td>
  <td>@n.getText</td>
}

@callNode( n:CallNode ) = {
  <td class="node node-call">call</td>
  <td>@n.getCalleeNodeId</td>
}

@setNode( n:SetNode ) = {
  <td class="node node-set">set</td>
  <td>@n.getTags</td>
}

@todoNode( n:TodoNode ) = {
  <td class="node node-todo">todo</td>
  <td>@n.getTodoText</td>
}

@endNode( n:EndNode ) = {
  <td class="node node-end">end</td>
  <td>&nbsp;</td>
}

@generalNode( n:Node ) = {
 <td class="node" colspan="2">
    @n.toString
</td> 
}

<td>@node.getId</td>
@node match {
  case n:AskNode  => { @askNode(n)  }
  case n:SetNode  => { @setNode(n)  }
  case n:EndNode  => { @endNode(n)  }
  case n:CallNode => { @callNode(n) }
  case n:TodoNode => { @todoNode(n) }
  case _ => { @generalNode(node)}
}