@( tagType: edu.harvard.iq.datatags.model.types.TagType )

@import edu.harvard.iq.datatags.model.types._

@simpleType( tp: SimpleType ) = {
  <div class="type type-simple">
    <span class="typeName">@tp.getName</span>
    One of: 
    <span class="typeValues">
      @for( sv <- tp.values ) {
        <span class="valueAtom">@sv.getName</span>
      }
    </span>
  </div>
}

@aggregateType( tp: AggregateType ) = {
  <div class="type type-aggregate">
    <span class="typeName">@tp.getName</span>
    Some of: 
    <span class="typeValues">
      @for( sv <- tp.getItemType.values ) {
        <span class="valueAtom">@sv.getName</span>
      }
    </span>
  </div>
}

@compoundType( tp:CompoundType ) = {
 <div class="type type-aggregate">
    <div>
      <span class="typeName">@tp.getName</span>
      Consists of: 
    </div>
    <span class="typeValues">
      @for( ft <- tp.getFieldTypes ) {
        @renderType( ft )
      }
    </span>
  </div> 
}

@todoType( tp: ToDoType ) = {
  <div class="type type-todo">
    <span class="typeName">@tp.getName</span>
    <span class="typeValues">
        <span class="valueAtom">TODO</span>
    </span>
  </div>
}


@renderType( ft:TagType ) = {
  @ft match {
    case t:SimpleType => { @simpleType(t) }
    case t:AggregateType => { @aggregateType(t) }
    case t:CompoundType => { @compoundType(t) }
    case t:ToDoType => { @todoType(t) }
  }
}

@renderType( tagType )
