@( aValue: edu.harvard.iq.datatags.model.values.CompoundValue )

@import edu.harvard.iq.datatags.model.types._
@import edu.harvard.iq.datatags.model.values._

@simpleValue( value:SimpleValue ) = {
  <div class="value value-simple">
    <span class="typeName">@value.getType.getName</span>
   @valueAtom(value)
  </div>
}

@todoValue( value:ToDoValue ) = {
  <div class="value value-todo">
    <span class="typeName">@value.getType.getName</span>
    <span class="valueAtom">TODO</span>
  </div>
}

@aggregateValue( value:AggregateValue ) = {
  <div class="value value-aggregate">
    <span class="typeName">@value.getType.getName</span>
    @if( value.getValues.isEmpty ) {
        <span class="valueAtom">empty</span>
    } else {
      @for(  sv <- value.getValues ){
        @valueAtom(sv)
      }
    }
  </div>
}

@compoundValue( value:CompoundValue ) = {
  <div class="value value-compound">
    <div class="typeName">@value.getType.getName</div>
    @for( tp <- value.getSetFieldTypes ){
      @renderValue( value.get(tp) )
    }
  </div> 
}

@anyValue( value:TagValue[ _ <: edu.harvard.iq.datatags.model.types.TagType] ) = {
 <div class="value value-compound">
    <span class="typeName">@value.getType.getName</span>
    <span class="valueAtom">@value.toString</span>
  </div>  
}

@renderValue( value:TagValue[_ <: edu.harvard.iq.datatags.model.types.TagType] ) = {
  @if( value.isInstanceOf[SimpleValue] ){
    @simpleValue(value.asInstanceOf[SimpleValue])
  } else {
    @if( value.isInstanceOf[ToDoValue] ) {
      @todoValue( value.asInstanceOf[ToDoValue] )
    } else {
       @if( value.isInstanceOf[AggregateValue] ) {
          @aggregateValue( value.asInstanceOf[AggregateValue] ) 
       } else {
          @if( value.isInstanceOf[CompoundValue] ) {
            @compoundValue( value.asInstanceOf[CompoundValue] )
          } else {
             @anyValue( value )
    }
  }}}
}

@renderValue( aValue )