@()

@templates.bsNavBar("Change Log", 'chg) {
  <div class="row">
    <div class="col-md-12">
      <h3>Change Log</h3>

      <h4>NEXT</h4>
      <ul>
        <li>Moved to Play 2.3</li>
        <li>Auto-deploy systems for application and interview</li>
        <li>Questionnaire management back-end improvements</li>
      </ul>

      <h4>2014-07-29</h4>
      <ul>
        <li>Support for bullet points in questions and terms </li>
        <li>Updated interview (HIPAA, Government Records)</li>
        <li>Interview intro page lists all statutes and regulations covered by the interview.</li>
        <li>Analytics</li>
        <li>User Interface cleanup</li>
      </ul>
      
      <h4>2014-07-23</h4>
      <ol>
        <li>Interview intro page now has explanatory text.</li>
        <li>API for requested interviews work - other systems can now request an interview and get the results</li>
        <li>Updated interview adds PPRA, have updated FERPA section</li>
        <li>Acceptance and rejection screens now includes answer history</li>
        <li>Better configuration options</li>
      </ol>
      
      <h4>2014-07-16</h4>
      <ul>
        <li>Initial Back button support</li>
        <li>Updated Tags table</li>
      </ul>

      <h4>2014-07-08</h4>
      <ul>
        <li>Better question page layout</li>
        <li>Improvements in to home page</li>
        <li>Tags are more structured</li>
        <li>Questionnaire now includes a screening phase, to prevent question repetition</li>
        <li>Question page: initial state made less intimidating by add helpful placeholders</li>
        <li>Answer text is properly capitalized</li>
        <li>Internal improvements (efficiency, stability, etc.)</li>
      </ul>
      <h4>2014-05-29</h4>
      <ul>
        <li>Users can now revisit their answers.</li>
        <li>Added Answer history</li>
        <li>Unit tests</li>
        <li>Nav bar links fixed</li>
        <li>Added links to project pages at the datascience site, and github.</li>
      </ul>
      <h4>2014-05-23</h4>
      <ul>
        <li>Proper home page</li>
        <li>Better acceptance screen</li>
        <li>Proper Credits at the footer</li>
      </ul>
      <h4>2014-05-21</h4>
      <ul>
        <li>Rejection page</li>
        <li>Better interview trace</li>
        <li>"Current tags" panel shows tags during the interview</li>
        <li>Added credits to IQSS, DPL, SEAS and NSF (same as last site)</li>
        <li>Popovers for values that have info, in type view.</li>
        <li>CSS updates</li>
      </ul>
      <h4>Initial Version</h4>
      <ul>
        <li>Base site layout</li>
        <li>Embedding runtime engine</li>
        <li>Initial UI</li>
      </ul>
    </div>
  </div>
}
