@()

@templates.bsNavBar("Change Log", 'chg) {
  <div class="row">
    <div class="col-md-12">
      <h3>Change Log</h3>
      <h4>2014-05-23</h4>
      <ul>
        <li>Propoer home page</li>
        <li>More styling</li>
      </ul>
      <h4>2014-05-21</h4>
      <ul>
        <li>Rejection page</li>
        <li>Better interview trace</li>
        <li>"Current tags" panel shows tags during the interview</li>
        <li>Added credits to IQSS, DPL, SEAS and NSF (same as last site)</li>
        <li>Popovers for values that have info, in type view.</li>
        <li>CSS updates</li>
      </ul>
      <h4>Initial Version</h4>
      <ul>
        <li>Base site layout</li>
        <li>Embedding runtime engine</li>
        <li>Initial UI</li>
      </ul>
    </div>
  </div>
}