@( rows:Seq[Row] )

@extraHead = {
  <link href="/assets/css/tagsTable.min.css" rel="stylesheet">
}

@templates.bsBase("DataTags - Sharing data with confidence", extraHead=extraHead)(Html("")) {
  <div class="page-header">
    <h1><img src="/assets/images/DataTags-Logo-large.png" alt="DataTags logo" />
        <small>&nbsp;Sharing data with confidence</small>
    </h1>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>
        The DataTags system helps dataset owners handle their data properly. Using a user-friendly interview, the system what laws, regulations and contracts apply to a given dataset, and provides the dataset owner with a set of "DataTags", which explain what is the harm level the dataset can cause, and what is the proper way of handling it, both legally and ethically.
      </p>
    </div>
    <div class="col-md-6">
      <div style="text-align:center; font-size:1.2em">
        <div class="pre-alpha-warn">
          <i class="fa fa-warning fa-3x pull-left"></i>
          The DataTags project is pre-alpha. Don't use the tags as a legal recommendation... yet
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
      
  <div style="text-align: center">
    <a href="@routes.Application.questionnaireCatalog" class="btn btn-primary btn-lg">
      <i class="fa fa-tags"></i>
      Start Tagging
    </a>
  </div>
  <hr>
    
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Harm Levels and Their Appropriate Tags</h3>
            </div>
            <div class="panel-body">
              The tags below denote the minimal handling requirements, based on the harm level inherent to the data.
              The tags resulting from the tagging interview may be more restrictive, due to data use agreements, contracts etc.
              <small>Hover/touch tags for explanation</small>
            </div>

            <div class="table-responsive">
              <table class="table tagsTable">
                  <thead>
                      <tr>
                          <th>Level</th>
                          <th>DUA Agreement Method</th>
                          <th>Authentication</th>
                          <th>Transit</th>
                          <th>Storage</th>
                      </tr>
                  </thead>
                  <tbody>
                      @for( row <- rows ) {
                        <tr class="row-@row.tagName">
                          <th>@row.title</th>
                          @for( cell<-row.cells.zipWithIndex ) {
                            <td>
                              <a href="#" title="@cell._1.infoTitle" @if(cell._2==3){data-placement="left"} data-trigger="hover" data-toggle="popover" data-content="@cell._1.info">
                              <div class="tag tag-default">@cell._1.title</div>
                              </a>
                            </td>
                          }
                        </tr>
                      }
                  </tbody>
              </table>
            </div>
        </div>
    </div>
  </div>

}
