@( charts:Seq[(String,String)] )

@templates.bsBase("Welcome to DataTags")(Html("")){
    <div class="container" id="content">
        <div class="page-header">
            <h1>Data Tags<small>&nbsp;Sharing data with confidence</small></h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Available Questionnaires</h3>
                <p>Below is a list of available questionnaires. Please select one to begin the tagging process.
                    <div class="note note-todo">Currently there's only one. We will have more, plus an upload option soon.</div>
                </p>
                <ul>
                    @for( p <- charts ) {
                        <li><a href="@routes.Interview.interviewIntro(p._2)">@p._1</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
}