@( name: String, count: Int) 

@li(tagType:String, nam:String) = {
<li><pre>tag tag-@tagType</pre>
  <div class="tag tag-@tagType">@nam (@tagType)</div>
</li>
}

@templates.bsNavBar( "test", 'exp ) {
<h1>Hello @name</h1>

<a class="btn btn-danger btn-sm" target="_blank" href="https://harvard.az1.qualtrics.com/WRQualtricsSurveyEngine/?SID=SV_cUO2fc9sMoMV6F7">
 <span class="glyphicon glyphicon-comment"></span>&nbsp; Feedback
</a>

<ul>
  @for( i<-Seq("default", "noRisk","minimal","shame","civil","criminal","maxControl") ) {
    @li(i,name)
  }
</ul>
}