@( charts:Seq[(String,String)] )

@templates.bsNavBar("DataTags Questionnaire Catalog", 'tag){
    <div class="container" id="content">
        <div class="row">
            <div class="col-md-12">
                <h1>Available Questionnaires</h1>
                <p>Below is a list of available questionnaires. Please select one to begin the tagging process.
                    <div class="note note-todo">Currently there's only one. We will have more, plus an upload option soon.</div>
                </p>
                <table class="table table-striped">
                    @for( p <- charts ) {
                        <tr><td><a href="@routes.Interview.interviewIntro(p._2)">@p._1</a></td></tr>
                    }
                </table>
            </div>
        </div>
    </div>
}