@( questionnaireId: String,
   dataTags: edu.harvard.iq.datatags.model.values.CompoundValue,
   codeTag: Option[edu.harvard.iq.datatags.model.values.TagValue[_]],
   requestedInterview: Option[RequestedInterviewSession],
   answerHistory: Seq[AnswerRecord] )

@import edu.harvard.iq.datatags.model.values.SimpleValue

@scripts = {
    <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/Question.js")"></script>
}

@templates.bsNavBar("Dataset Accepted", 'ask, scripts) {
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-warning" role="alert">
        <strong>This is a demonstration of the DataTags framework, and the tags on this page are provided for informational purposes only.</strong> If you seek to share a dataset containing confidential information, you should consult the institutional review board of your organization.
      </div>
      <div class="panel panel-success">
          <div class="panel-heading">
              <h3 class="panel-title">Dataset Can be Accepted</h3>
          </div>
          <div class="panel-body">
              <div class="text-center">
                <span class="lead">Your dataset is tagged as</span>
                @codeTag match {
                  case Some(tag) => {
                    @comps.simpleValueTagLabel( tag.asInstanceOf[SimpleValue], tag.getName.toLowerCase, true)
                  }
                  case None => { <div class="alert alert-danger"><strong>No Tag Assigned</strong> For some reason, your data was not tagged. This is an interview error.</div>}
                }
              </div>
              <!-- <h3>Full Tags</h3> -->
              <div class="tagvalue-container" style="margin-top:1em;">
                @comps.tagValue(dataTags)
              </div>

              <div class="text-right">
                <br />
                <a href="@routes.Interview.downloadTags" class="btn btn-primary">
                  <i class="fa fa-download"></i>&nbsp;Download Tags
                </a>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Answer History</h3>
          </div>
          <div class="panel-body">
            @comps.answerHistory(answerHistory, questionnaireId, false)
          </div>
  </div></div></div>
  @requestedInterview match {
      case Some(interview) => {
          <div class="center-block" style="text-align: center">
            <p> Click the button below to return to your data repository with these tags. </p>
            @helper.form( action = routes.RequestedInterview.postBackTo(interview.key)) {
                    <button class="btn btn-primary" type="submit">Continue depositing your data</button>
            }
          </div>
      }
      case None => {
          <div class="center-block" style="text-align: center">
            <a href="@routes.Application.index" class="btn btn-primary">Start Again</a>    
          </div>
      }
    }
}



