@( fcs:edu.harvard.iq.datatags.model.charts.FlowChartSet,
   tlt:edu.harvard.iq.datatags.model.types.CompoundType,
   greeting: Option[String] )
@scripts = {
    <script type="text/javascript" src="@routes.Assets.at("js/InterviewIntro.js")"></script>
}
@templates.bsNavBar("Interview Start Page", 'tag, scripts) {
     <div class="row">
         <div class="md-col-12">
            @greeting match {
                case Some(welcome) => {<p>@welcome</p>}
                case None => {}
            }
        </div> 
     </div>
     <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3>About This Questionnaire</h3>
          <p>
            This is a sample questionnaire that covers three main areas of U.S. privacy law. It is designed to elicit from the user the key properties of a dataset that are relevant to determining whether privacy risks or restrictions from these laws constrain how it can be handled.
          </p><p>
            The questionnaire demonstrates how complex legal standards from different statutes, regulations, and policies can be conveyed clearly to users and used to assign tags to a wide range of datasets. For instance, it provides detailed definitions and multiple examples to aid the user in interpreting legal concepts and applying them in different contexts.
          </p><p>
            Based on the user’s responses to the questionnaire, DataTags generates a set of tags that describe the properties of a dataset, which laws are applicable, and how the dataset can be stored, transmitted, or used according to the relevant laws, contracts, and policies.
          </p>
          <h3>Scope</h3>
          <p>
            With this sample questionnaire, you can navigate some of the data use and sharing requirements in the following three areas of U.S. privacy law. <a id="toggleLearnMore">learn more</a>
          </p>
          <div id="learnMore" class="initiallyHidden">
            <h3>Statutes and Regulations Covered</h3>
            <p>
              The sample questionnaire is designed to help a researcher understand whether rules from any of the following U.S. privacy laws and regulations govern the storage, transmission, or use of a specific dataset. It aims to cover a subset of the laws most relevant to the sharing of sensitive research data in the United States, but it does not address categories of information beyond the scope of the following list of laws.
            </p>
            <h4>Privacy of medical records</h4>
            <ul>
              <li>The <strong>Health Insurance Portability and Accountability Act (HIPAA) Privacy Rule</strong>, 45 C.F.R. Part 160 and Subparts A and E of Part 164, which regulates the use and disclosure of protected health information held by covered entities such as health care providers</li>
              <li>The <strong>substance abuse confidentiality regulations</strong>, 42 C.F.R. Part 2, which protect the confidentiality of the medical records of patients seeking treatment for alcohol or drug abuse</li>
            </ul>
            <h4>Privacy of education records</h4>
            <ul>
              <li>The <strong>Family Educational Rights and Privacy Act (FERPA)</strong>, 20 U.S.C. § 1232g, which safeguards student records maintained by an educational agency or institution</li>
              <li>The <strong>Protection of Pupil Rights Amendment (PPRA)</strong>, 20 U.S.C. § 1232h, which establishes privacy-related procedures for certain surveys, analyses, and evaluations funded by the US Department of Education</li>
              <li>The <strong>Education Sciences Reform Act of 2002</strong>, 20 U.S.C. § 9573, which restricts the collection, use, and dissemination of education data in research conducted by the Institute of Education Sciences</li>
            </ul>
            <h4>Privacy of government records</h4>
            <ul>
              <li>The <strong>Privacy Act of 1974</strong>, 5 U.S.C. § 552a, which establishes fair information practices for protecting personally identifiable records maintained by federal agencies</li>
              <li>The <strong>Confidential Information Protect and Statistical Efficiency Act (CIPSEA)</strong>, 44 U.S.C. § 3501 note, which protects confidential data collected by U.S. statistical agencies</li>
              <li><strong>Title 13 of the U.S. Code</strong>, which protects the confidentiality of Census Bureau data</li>
              <li>The <strong>Driver’s Privacy Protection Act (DPPA)</strong>, 18 U.S.C. §§ 2721-2725, which restricts the disclosure of personal information from state department of motor vehicle records</li>
            </ul>

            <h3>Tags</h3>
            <p>
              This chart displays the range of tags that may be suggested at the conclusion of the demonstration. These tags cover properties such as the regulatory classification of the information, the sensitivity of the information, the terms of governing contractual agreements, and the appropriate data security and other handling requirements.
            </p>

            <div class="tagtype-container">
                @comps.tagType( tlt )
            </div>

          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="insetBox">
                <div class="iconContainer">
                  <i class="fa fa-stethoscope fa-4x"></i>
                </div>
                <h6>Medial Records</h6>
                <p>Health information protected by HIPAA and federal substance abuse confidentiality regulations</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="insetBox">
                <div class="iconContainer">
                  <i class="fa fa-mortar-board fa-4x"></i>
                </div>
                <h6>Education Records</h6>
                <p>Student information covered by FERPA and laws protecting research funded by the Department of Education and the Institute of Education Sciences</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="insetBox">
                <div class="iconContainer">
                  <i class="fa fa-institution fa-4x"></i>
                </div>
                <h6>Government records</h6>
                <p>Personal information held by government agencies, including statistical agencies and state departments of motor vehicles, and safeguarded by federal law</p>
              </div>
            </div>
          </div>
          <div style="text-align: center">
            <p>
              To try the demonstration for a dataset you have in mind, please click on the button below.
            </p>
            <a id="startTaggingButton" 
               href="@routes.Interview.startInterview(fcs.getId)" 
               class="btn btn-primary btn-lg">Start Tagging</a>
          </div>
        </div>
     </div>
}
