@( fcs:edu.harvard.iq.datatags.model.charts.FlowChartSet, tlt:edu.harvard.iq.datatags.model.types.CompoundType, greeting: Option[String] )
@scripts = {
    <script type="text/javascript" src="@routes.Assets.at("js/InterviewIntro.js")"></script>
}
@templates.bsNavBar("Interview Start Page", 'tag, scripts) {
     <div class="row">
         <div class="md-col-12">
            @greeting match {
                case Some(welcome) => {<p>@welcome</p>}
                case None => {}
            }
            <p>
            After clicking the <kbd><a onclick="InterviewIntro.highlightStartTaggingButton()">Start Tagging</a></kbd> button, you will be asked questions about the dataset you want to tag. Questions help detect laws, regulations, and contracts that apply to the dataset. You will be able to revisit questions if you need to change an answer. At the end, you will be provided with the DataTag built by your answers. If you are ready, go ahead and start tagging!
            </p>
        </div> 
     </div>
     <div class="row">
         <div class="md-col-12">
            <div style="text-align: center">
                <a id="startTaggingButton" href="@routes.Interview.startInterview(fcs.getId)" class="btn btn-primary btn-lg" style="position:relative;">Start Tagging</a>
            </div>
         </div>
     </div>
     <div class="row">

        <div class="md-col-12">
            <h3>About This Questionnaire</h3>
            <div class="note note-todo">Questionnaire metadata and readme goes here.</div>
            <h4>Covered Statutes and Regulations</h4>
            <ul>
                <li>Privacy Act of 1974, 5 U.S.C. § 552a</li>
                <li>Confidential Information Protection and Statistical Efficiency Act (CIPSEA), enacted as Title V of the E-Government Act of 2002, Pub. L. 107-347, 116 Stat. 2962, codified at 44 U.S.C. § 3501 note</li>
                <li>U.S. Code Title 13 (US Census Bureau)</li>
                <li>Driver’s Privacy Protection Act, 18 U.S.C. §§ 2721-2725</li>
                <li>Education Sciences Reform Act of 2002, Title I of Pub. L. 107-279</li>
                <li>Health Insurance Portability and Accountability Act (HIPAA) Privacy Rule, 45 C.F.R. Part 160</li>
                <li>Family Educational Rights and Privacy Act (FERPA), 20 U.S.C. § 1232g</li>
                <li>Protection of Pupil Rights Amendment (PPRA), 20 U.S.C. § 1232h</li>
            </ul>
            <h4>Tags</h4>
            <p>Below is the data tags structure for this questionnaire. Don't worry if it looks intimidating - you will not have to fill
            it directly. Instead, the system will take you throgh a friendly interview, and fill the values in for you.</p>

            <div class="tagtype-container">
                @comps.tagType( tlt )
            </div>

        </div>
     </div>
}