@( questionnaireId: String,
   questionNode: edu.harvard.iq.datatags.model.charts.nodes.AskNode,
   dataTags: edu.harvard.iq.datatags.model.values.CompoundValue,
   history:Seq[edu.harvard.iq.datatags.model.charts.nodes.Node],
   answerHistory: Seq[AnswerRecord])

@scripts = {
    <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/Question.js")"></script>
}

@import views.Helpers

@templates.bsNavBar( "Question", 'tag, scripts) {

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Question: Please select one answer</h3>
            </div>
            <div class="panel-body">
                <span class="questionText">@Helpers.bulletPoint(questionNode.getText)</span>
                @if( ! questionNode.getTermNames.isEmpty() ) {
                    <h4 class="text-muted">Terms</h4>
                    <dl>
                        @for( termName <- questionNode.getTermNames ) {
                            <dt>@termName</dt>
                            <dl>@Helpers.bulletPoint(questionNode.getTermText(termName))</dl>
                        }
                    </dl>
                }
            </div>
            <div class="panel-footer">
                @helper.form( action=routes.Interview.answer(questionnaireId, questionNode.getId), 'id->"answerForm" ) {
                    @for( ans <- questionNode.getAnswers ) {
                        <button class="btn btn-default"
                                onclick="$('#answerText')[0].value='@ans.getAnswerText'; $('#answerForm').submit();" >
                                @Helpers.makeUpper(ans.getAnswerText)</button>
                    }
                    <input type="hidden" name="answerText" id="answerText" value="" />
                    <input type="hidden" name="serializedHistory" id="serializedHistory" value="@QuestionnaireKits.kit.serializer.encode(answerHistory)"/>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Answer Feed</h3>
            </div>
            <div class="panel-body">
                @if( ! answerHistory.isEmpty ) {
                    @comps.answerHistory(answerHistory, questionnaireId, true)
                } else {
                    <div class="well well-sm text-center">
                        <span class="muted small">This space will contain your answers, and will allow you to revisit them when needed.</span>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Current Tags</h3>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    @if( dataTags.getSetFieldTypes.isEmpty ) {
                        <div class="well well-sm text-center">
                            <span class="muted small">This space will contain the tags for your dataset. It will be updated as we go along.</span>
                        </div>    
                    } else {
                        <div class="tagvalue-container">
                          @comps.tagValue(dataTags)
                        </div>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Engine Trace</h3>
                <small>Useful for debugging the interview</small>
            </div>
            <div class="panel-body">
                <div class="engine-trace-container">
                    <table class="engine-trace">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Type</th>
                                <th>Info</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for( nd <- history.reverse ){
                            <tr>
                                @comps.node(nd)
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
}
