@( questionnaireId: String,
   reason: String,
   requestedInterview: Option[RequestedInterviewSession],
   answerHistory: Seq[AnswerRecord] )

@templates.bsNavBar("Dataset Rejected", 'tag) {
  <div class="row">
    <div class="col-md-12">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Dataset Cannot be Accepted</h3>
            </div>
            <div class="panel-body">
                We apologize, but we cannot accept the dataset. Reason:
                @reason
            </div>
          </div>
        </div>
      </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Answer History</h3>
                      </div>
                      <div class="panel-body">
                        @comps.answerHistory(answerHistory, questionnaireId, false)
                      </div>
              </div></div></div>

              @requestedInterview match {
                  case Some(interview) => {
                      <div class="center-block" style="text-align: center">
                        <p> Click the button below to return to your data repository with the reason your dataset can not be accepted. </p>
                          @helper.form( action = routes.RequestedInterview.unacceptableDataset(interview.key, reason)) {
                            <button class="btn btn-primary" type="submit">Continue depositing your data</button>
                          }
                      </div>
                  }
                  case None => {
                      <div class="note note-todo">
                        Here endeth the demo. Future versions will redirect you to Dataverse (or another secure data repo), with the tags.
                      </div>
                      <div class="col-md-2 col-md-offset-5">
                        <a href="@routes.Application.index" class="btn btn-primary">Start again</a>    
                      </div>
                  }
              }
}