div.admonition-academic-reference {
    background-color: aqua;
}

div.admonition {
    border: 1px solid black;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25);
}

div.admonition p.admonition-title {
    font-style: oblique;
}

a.reference.external:hover {
    background-color: #FF8;
}

a.reference.internal:hover {
    background-color: #8F8;
}