@(title:String, section:Symbol, scripts: Html=Html(""), extraHead: Html=Html(""))(content:Html)

@headPart = {
	@extraHead
	<link href="@routes.Assets.at("css/navbar-extras.min.css")" rel="stylesheet">
}

@bsBase(title, scripts, headPart) {
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="@routes.Assets.at("images/DataTags-Logo-mid.png")" alt="DataTags logo"/>
        DataTags
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <a class="btn btn-danger btn-sm navbar-btn" target="_blank" 
         href="https://harvard.az1.qualtrics.com/SE/?SID=SV_cUO2fc9sMoMV6F7">
          <span class="glyphicon glyphicon-comment"></span>&nbsp; Feedback
      </a>
      <ul class="nav navbar-nav">
        @*<li @if( section=='tag) {class="active"}><a href="@routes.Application.questionnaireCatalog">Tag</a></li>*@
        @*<!--<li @if( section=='abt) {class="active"}><a href="#">About</a></li>*@
        @*<li @if( section=='chg) {class="active"}><a href="@routes.Application.changeLog">Change Log</a></li>*@
        <li>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a data-toggle="tooltip" data-placement="bottom" href="http://datascience.iq.harvard.edu/datatags" target="_blank" title="Project's home"><i class="fa fa-home"></i></a></li>
        <li><a data-toggle="tooltip" data-placement="bottom" href="https://github.com/IQSS/DataTags/" title="We're open source! Visit us at GitHub" target="_blank"><i class="fa fa-github-alt"></i></a></li>
        <li><a data-toggle="tooltip" data-placement="bottom" href="http://iq.harvard.edu" title="Institute of Quantitative Social Science" target="_blank">IQSS</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
} {
	@content
}