@(title:String, section:Symbol, scripts: Html=Html(""), extraHead: Html=Html(""))(content:Html)

@headPart = {
	@extraHead
	<link href="/assets/css/navbar-extras.min.css" rel="stylesheet">
}

@bsBase(title, scripts, headPart) {
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">DataTags</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li @if( section=='exp) {class="active"}><a href="@routes.Test.nameCount("Testing", 10)">P!F experiments</a></li>
        <li @if( section=='tag) {class="active"}><a href="#">Tag</a></li>
        <li @if( section=='abt) {class="active"}><a href="#">About</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
		  <li><a href="http://iq.harvard.edu" target="_blank"><span class="glyphicon glyphicon glyphicon-share"></span> IQSS home</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
} {
	@content
}