body {
	background-color: #E5E5EF;
}
.help {
	color: #888;
	font-size: 0.9em;
}
.unset {
	background-color: #AAA;
	color: #EEE;
}
dd {
	color: blue;
}

#currentTags {
	border-radius: 5px;
	padding: 5px;
	background-color: #ffffb5;
	box-shadow: 0 5px 10px rgba(0,0,0,0.75);
}

.qPanel {
	box-shadow: 0 2px 4px rgba(0,0,0,0.75);
}
.backToParentBtn {
	margin: 1em;
	width: 10em;
	height: 2.5em;
}

.centerContainer{
	position: relative;
}

.absoluteCenter {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.bdg0 {
	background-color: #AAF;
}
.bdg1 {
	background-color: #05ad00;
}
.bdg2 {
	background-color: #5d8902;
}
.bdg3 {
	background-color: #a85802;
}
.bdg4 {
	background-color: #F00;
}

footer {
	font-size: 0.9em;
	border-top: 1px solid black;
	margin:0;
	margin-top: 2em;
	padding: 0.5em;
	text-align: center;
}